@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootswatch/flatly/variables.less";
@import "../bower_components/bootswatch/flatly/bootswatch.less";

// The build scripts grep instructions that use this line away
@web-font-path: "removethisline.css";
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;


#layout {
    margin: 10px auto 0;
    max-width: @screen-md-min;
}

.rs-bubble.rs-hidden {
    display: none !important;
}
.remotestorage-state-initial .rs-action {
    filter: grayscale(100%);
}

.task {
    .list-group-item;
    .clearfix;

    .task-checkbox, .task-summary {
        display: block;
    }

    &.mode-collapsed {
        padding: 0;

        .task-checkbox, .task-summary {
            padding: 10px 15px;
        }
    }

    &.mode-expanded, &.mode-editing {
        border-left: none;
        border-right: none;
        border-top: 1px solid @gray-lighter;
        border-bottom: 1px solid;
    }

    &.mode-expanded {
        .panel {
            margin: 0;
        }

        .task-checkbox, .task-summary {
            padding-right: 15px;
        }
    }

    .task-checkbox {
        float: left;
    }

    .task-edit-button {
        .btn;
        .btn-default;
        .btn-xs;
    }

    &:hover {
        .task-summary {
            text-decoration: none;
        }
    }

    &.done {
        .task-summary {
            color: #333;
            text-decoration: line-through;
        }
    }
}

#sidebar {
    margin-bottom: 10px;
}

#footer {
    text-align: center;
}

*:active, *:hover {
    outline: none !important;
}

@media (max-width: @screen-md-min) {
    #tasklists:not(.editing) > li {
        float: left;
        margin-top: 2px;
        + li {
            margin-left: 2px;
        }
    }
}
