@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootswatch/flatly/variables.less";
@import "../bower_components/bootswatch/flatly/bootswatch.less";

#layout {
    margin: 10px auto 0;
    max-width: @screen-md-min;
}

.task.disabled * {
    color: #333;
    text-decoration: line-through;
}

.rs-bubble.rs-hidden {
    display: none !important;
}
.remotestorage-state-initial .rs-action {
    filter: grayscale(100%);
}

.task, #tasklists a {
    border-left: 3px solid;
}

#sidebar {
    margin-bottom: 10px;
}

*:active, *:hover {
    outline: none !important;
}

@media (max-width: @screen-md-min) {
    #tasklists:not(.editing) > li {
        float: left;
        margin-top: 2px;
        + li {
            margin-left: 2px;
        }
    }
}
